@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&family=Libre+Franklin');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
font-family: 'Libre Franklin', sans-serif;
font-size: 18px;
margin: 0px;
}
h1, h2, h3 {
font-family: 'Libre Baskerville', serif;
font-weight: bold;
font-size: :10px;
}
a {
	text-decoration: none;
	margin: 8px;
}



